# Edible crops

# These will be added as growable crops in the world.
# This file ignores lines that start with '#' or are blank.
# Food value and saturation value are both optional.

# The format is as follows:
# <crop name>;<food value>;<saturation value>
# Example: ginger;1;0.5
ginger;2;0.5
