# Configuration file

general {
    B:armorStand=true
    B:armorStandBackground=true
    B:automation=true
    B:automationSound=true
    B:equipmentOverlay=true

    # Valid values:
    # SMITHING
    # ANVIL
    # NONE
    S:hammer=SMITHING
    B:materialOverlay=true
    B:templateOverlay=true
}


