# Crops

# These will be added as growable crops in the world.
# This file ignores lines that start with '#' or are blank.

agave
alfalfa
amaranth
arrowroot
arugala
barley
blackbeet
blackcabbage
blackcarrot
blackcherrytomatoes
blackradish
broccoflower
broccoli
brownyam
buckwheat
candystripebeet
caraway
cardamom
cassava
celeriac
chia
chickpea
chives
cilantro
collards
cotton
cowpea
cumin
daikonradish
dill
drumstick
fennel
fenugreek
fingermillet
flax
foxtailmillet
galangal
ginger
greenbokchoy
greenbrusselsprouts
greencabbage
greencelery
greenchard
greenchinesecabbage
greeneggplant
greenkale
greenkohlrabi
greenlentil
greenlettuce
greenspinach
japanesemillet
jicama
kaniwa
kholrabi
kodomillet
leek
lymegrass
mustard
oats
okra
orangebeet
orangecauliflower
orangechard
orangecherrytomatoes
orangechinesecabbage
orangeeggplant
parsley
parsnip
peanut
pearlmillet
pinkcherrytomatoes
pinkpineapple
poppyseed
purplebrusselsprouts
purplecarrot
purplecauliflower
purplecherrytomatoes
purplechinesecabbage
purpleeggplant
purplegarlic
purpleradish
purplewhitestripedeggplant
purpleyam
quinoa
redbokchoy
redcabbage
redcarrot
redcelery
redchard
redcherrytomatoes
redeggplant
redkale
redkohlrabi
redlentilblacklentil
redlettuce
redonion
redpotato
redspinach
russetpotato
rutabaga
rye
seasame
sesameseed
shallot
sorghum
spelt
sugarbeet
taro
teff
turnip
wasabi
whitebeet
whitecabbage
whitecarrot
whitecauliflower
whitecherrytomatoes
whiteeggplant
whitegarlic
whiteonion
winterradish
yellowbeet
yellowcarrot
yellowcauliflower
yellowcelery
yellowchard
yellowcherrytomatoes
yellowchinesecabbage
yelloweggplant
yellowlentil
yellowonion
yellowpineapple
