# Configuration file

general {
    # Min: 0.25
    # Max: 2.0
    D:"Cheese Caves Size"=1.0

    # The registry name of the block to use as 'Deepslate'.
    S:"Deepslate Block"=depthsupdate:deepslate

    # Min: -256
    # Max: 512
    I:"Deepslate Max Y"=8

    # The number of blocks over which stone transitions into Deepslate.
    # Min: 0
    # Max: 64
    I:"Deepslate Transition Range"=8
    B:"Generate Cave Entrances"=false
    B:"Generate Cave Pillars"=false
    B:"Generate Cheese Caves"=false
    B:"Generate Noodle Caves"=false
    B:"Generate Spaghetti Caves"=false
    B:"Generate Underground Rivers"=false

    ##########################################################################################################
    # debug
    #--------------------------------------------------------------------------------------------------------#
    # Debug Settings
    ##########################################################################################################

    debug {
        S:"Cheese Cave Debug Block"=minecraft:gold_block

        # Outlines cave and river borders with distinctive blocks.
        B:"Enable Debug Visualizer"=false

        # Min: 1
        # Max: 4096
        I:"Generation Log Interval"=64

        # Log the coordinates of each lush cave, dripstone cave and amethyst geode as it is placed.
        B:"Log Feature Placements"=false
        B:"Log Generation"=false
        S:"River Debug Block"=minecraft:diamond_block
        S:"Spaghetti Cave Debug Block"=minecraft:red_mushroom_block
    }

    ##########################################################################################################
    # height extension
    #--------------------------------------------------------------------------------------------------------#
    # Settings for extended world height.
    ##########################################################################################################

    "height extension" {
        # Per-dimension height overrides.
        # Format: "dimId:minY:maxY" or "dimId:minY:maxY:lavaLevel:voidDamageLevel"
        # Example: "-1:-64:256" extends the Nether to -64..256.
        # Example: "0:-64:320:-54:-128" sets custom lava/void levels for the Overworld.
        # Overrides globalMinY/globalMaxY (and optionally lava/void levels) for the specified dimension.
        S:"Dimension Overrides" <
         >
        B:"Extend Custom World Types"=false

        # Dimension IDs to apply height extension to. Default: [0].
        I:"Extended Dimensions" <
            -18
            -16
            -15
            -13
            -12
            -10
            -9
            -7
            -6
            -4
            -3
            0
            1
            2
            4
            5
            7
            8
            10
            11
            13
            14
            16
            17
            19
            20
            22
            23
            25
            26
            28
            29
            31
            32
            34
            35
            37
            38
            40
            41
            43
            44
            46
            47
            49
            50
            52
            53
            55
            56
            58
            59
            61
            62
            64
            65
            67
            68
            70
            71
            73
            74
            76
            77
            182
            184
            185
            187
            188
            190
            191
            193
            194
            196
            197
            200
            201
            202
            204
            205
            207
            208
            210
            211
            213
            214
            216
            217
            219
            220
            222
            223
            225
            226
            228
            229
            231
            232
            234
            235
            237
            238
            240
            241
            243
            244
            246
            247
            249
            250
            252
            253
            255
            256
            258
            259
            261
            262
            264
            265
            267
            268
            270
            271
            273
            274
            276
            277
         >

        # The maximum Y coordinate.
        # Min: 256
        # Max: 512
        I:"Global Maximum Y"=512

        # The minimum Y coordinate.
        # Min: -256
        # Max: 0
        I:"Global Minimum Y"=0

        # The Y level at which underground air is replaced with lava.
        # Min: -256
        # Max: 512
        I:"Lava Level"=9

        # The sea level Y coordinate.
        # Min: -256
        # Max: 512
        I:"Sea Level"=127

        # The Y level at which players start taking void damage.
        # Min: -512
        # Max: 64
        I:"Void Damage Level"=-512
    }

    ##########################################################################################################
    # registry
    #--------------------------------------------------------------------------------------------------------#
    # Registry Toggles for blocks and items.
    ##########################################################################################################

    registry {
        B:"Enable Amethyst"=false
        B:"Enable Azalea"=false
        B:"Enable Calcite"=false
        B:"Enable Cave Vines and Glow Berries"=false
        B:"Enable Deepslate"=false
        B:"Enable Dripleaf"=false
        B:"Enable Dripstone Block"=false
        B:"Enable Moss"=false
        B:"Enable Raw Ore Blocks"=false
        B:"Enable Rooted Dirt"=false
        B:"Enable Smooth Basalt"=false
        B:"Enable Spore Blossom"=false
        B:"Enable Spyglass"=false
        B:"Enable Tuff"=false
        B:"Use Custom Creative Tab"=false
    }

    ##########################################################################################################
    # lush caves
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to the Lush Caves biome.
    ##########################################################################################################

    "lush caves" {
        # Allow Lush Caves to generate underground.
        B:"Enable Lush Caves"=false

        # Min: 1
        # Max: 100
        I:"Height Base Size"=8

        # Min: 0
        # Max: 100
        I:"Height Variation"=6

        # The rarity of Lush Caves. Higher numbers mean rarer caves. (1 in X chance per chunk)
        # Min: 1
        # Max: 1000
        I:"Lush Caves Rarity"=12

        # Min: -256
        # Max: 512
        I:"Maximum Height"=63

        # Min: -256
        # Max: 512
        I:"Minimum Height"=-64

        # Min: 1
        # Max: 100
        I:"Radius Base Size"=16

        # Min: 0
        # Max: 100
        I:"Radius Variation"=8
    }

    ##########################################################################################################
    # dripstone caves
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to the Dripstone Caves biome.
    ##########################################################################################################

    "dripstone caves" {
        # The rarity of Dripstone Caves. Higher numbers mean rarer caves. (1 in X chance per chunk)
        # Min: 1
        # Max: 1000
        I:"Dripstone Caves Rarity"=15

        # Allow Dripstone Caves to generate underground.
        B:"Enable Dripstone Caves"=false

        # Min: 1
        # Max: 100
        I:"Height Base Size"=12

        # Min: 0
        # Max: 100
        I:"Height Variation"=8

        # Min: -256
        # Max: 512
        I:"Maximum Height"=63

        # Min: -256
        # Max: 512
        I:"Minimum Height"=-64

        # Min: 1
        # Max: 100
        I:"Radius Base Size"=20

        # Min: 0
        # Max: 100
        I:"Radius Variation"=10
    }

    "amethyst geodes" {
        B:"Enable Amethyst Geodes"=false

        # The rarity of Amethyst Geodes. Higher numbers mean rarer geodes. (1 in X chance per chunk)
        # Min: 1
        # Max: 1000
        I:"Geode Rarity"=24

        # Min: -256
        # Max: 512
        I:"Maximum Height"=30

        # Min: -256
        # Max: 512
        I:"Minimum Height"=-58
    }

    aquifers {
        B:"Enable Aquifers"=false
    }

}


