# Configuration file

##########################################################################################################
# corpse complex: command tweaks
#--------------------------------------------------------------------------------------------------------#
# corpse complex tweaks
##########################################################################################################

"corpse complex: command tweaks" {
    # Whether to show any messages after running the command /deathscrollclear [default: true]
    B:"Messages for /deathscrollclear"=true
}


##########################################################################################################
# defiled lands: defilement conversion tweaks
#--------------------------------------------------------------------------------------------------------#
# Format - modid1:itemid1:metadata1, modid2:itemid2:metadata2
##########################################################################################################

"defiled lands: defilement conversion tweaks" {
    #  [default: [minecraft:enchanting_table:0, defiledlands:conjuring_altar:0]]
    S:"Custom Defilements" <
        minecraft:enchanting_table:0, defiledlands:conjuring_altar:0
     >

    # Should the base Defilement conversions be registered? [default: true]
    B:"register base defilements"=true
}


##########################################################################################################
# minecraft: animal ai tweaks
#--------------------------------------------------------------------------------------------------------#
# Animal AI Tweaks
##########################################################################################################

"minecraft: animal ai tweaks" {
    # List of entity registry names to apply 'avoid player' AI to [default: [minecraft:cow], [minecraft:sheep]]
    S:"List of Scared Mobs" <
        minecraft:cow
        minecraft:sheep
     >

    #  [default: false]
    B:"enable rabbit AI additions"=false

    #  [default: false]
    B:"enable scared mobs AI additions"=false

    #  [default: false]
    B:"enable sheep AI additions"=false

    #  [default: minecraft:potatoes:7,minecraft:wheat:7]
    S:"rabbit crops to raid"=minecraft:potatoes:7,minecraft:wheat:7

    # Speed at which 'scared mobs' run, at a distance [range: 0.0 ~ 100.0, default: 2.0]
    S:"scared mobs: close speed"=2.0

    # Speed at which 'scared mobs' run, up close [range: 0.0 ~ 100.0, default: 1.0]
    S:"scared mobs: far speed"=1.0

    #  [range: 0.0 ~ 256.0, default: 20.0]
    S:"scared mobs: max range"=20.0

    #  [default: [minecraft:dirt:2,minecraft:dirt:0]]
    S:"sheep grass to dirt conversions" <
        minecraft:dirt:2,minecraft:dirt:0
     >

    #  [default: minecraft:web,minecraft:deadbush]
    S:"sheep tall grasses to eat"=minecraft:web,minecraft:deadbush
}


##########################################################################################################
# minecraft: animal breeding tweaks
#--------------------------------------------------------------------------------------------------------#
# Format - modid:entityid,minExtraSpawns,MaxExtraSpawns
##########################################################################################################

"minecraft: animal breeding tweaks" {
    #  [default: [minecraft:pig,0-2]]
    S:"Extra Baby Spawns" <
        minecraft:pig,0-2
     >

    #  [default: minecraft:wheat_seeds,minecraft:rotten_flesh]
    S:"chicken breeding item list"=minecraft:wheat_seeds,minecraft:rotten_flesh

    #  [default: minecraft:wheat,minecraft:beetroot]
    S:"cow breeding item list"=minecraft:wheat,minecraft:beetroot

    # Should vanilla animals have their breeding items tweaked? [default: false]
    B:"enable breeding item changes"=false

    #  [default: minecraft:wheat,minecraft:pumpkin]
    S:"horse breeding item list"=minecraft:wheat,minecraft:pumpkin

    #  [default: minecraft:wheat,minecraft:pumpkin_seeds]
    S:"llama breeding item list"=minecraft:wheat,minecraft:pumpkin_seeds

    #  [default: minecraft:carrot,minecraft:apple]
    S:"pig breeding item list"=minecraft:carrot,minecraft:apple

    #  [default: minecraft:golden_carrot,minecraft:tallgrass]
    S:"rabbit breeding item list"=minecraft:golden_carrot,minecraft:tallgrass

    #  [default: minecraft:wheat,minecraft:melon]
    S:"sheep breeding item list"=minecraft:wheat,minecraft:melon
}


##########################################################################################################
# minecraft: survival mechanic tweaks
#--------------------------------------------------------------------------------------------------------#
# Survival Mechanic Tweaks
##########################################################################################################

"minecraft: survival mechanic tweaks" {
    # Converts saturation into health when at full hunger and missing health
    # Note: Designed with /gamerule naturalRegeneration false [default: false]
    B:"enable excess saturation to health"=false

    # Amount of saturation consumed per conversion [range: 0.0 ~ 999999.0, default: 1.0]
    S:"excess saturation: drain"=1.0

    # Amount of health restored per conversion [range: 0.0 ~ 999999.0, default: 1.0]
    S:"excess saturation: health"=1.0

    # Time (in ticks) between each saturation-to-health conversion [range: 1 ~ 999999, default: 20]
    I:"excess saturation: ticks"=20
}


##########################################################################################################
# quark: archaeologist trade tweaks
#--------------------------------------------------------------------------------------------------------#
# Format - modid1:itemid1,itemdamage1,minamount1,maxamount1, modid2:itemid2,itemdamage2,minamount2,maxamount2, tradeweight
# Note: Trades that include minecraft:air are treated as a 'skip' for that slot when rolled
##########################################################################################################

"quark: archaeologist trade tweaks" {
    #  [default: [minecraft:emerald,0,2,4, minecraft:bone,0,3,5, 100]]
    S:"Trade Slot 1" <
        minecraft:emerald,0,2,4, minecraft:bone,0,3,5, 100
     >

    #  [default: [minecraft:bone,0,10,14, minecraft:emerald,0,1,1, 50], [minecraft:gunpowder,0,7,16, minecraft:emerald,0,1,1, 50]]
    S:"Trade Slot 2" <
        minecraft:bone,0,10,14, minecraft:emerald,0,1,1, 50
        minecraft:gunpowder,0,7,16, minecraft:emerald,0,1,1, 50
     >

    #  [default: [minecraft:coal,0,16,25, minecraft:emerald,0,1,1, 50], [minecraft:air,0,0,0, minecraft:air,0,0,0, 50]]
    S:"Trade Slot 3" <
        minecraft:coal,0,16,25, minecraft:emerald,0,1,1, 50
        minecraft:air,0,0,0, minecraft:air,0,0,0, 50
     >

    #  [default: [minecraft:emerald,0,12,23, minecraft:diamond,0,1,1, 50], [minecraft:air,0,0,0, minecraft:air,0,0,0, 50]]
    S:"Trade Slot 4" <
        minecraft:emerald,0,12,23, minecraft:diamond,0,1,1, 50
        minecraft:air,0,0,0, minecraft:air,0,0,0, 50
     >

    #  [default: [minecraft:emerald,0,8,12, minecraft:iron_pickaxe,0,1,1, 25], [minecraft:emerald,0,6,9, minecraft:iron_shovel,0,1,1, 25], [minecraft:air,0,0,0, minecraft:air,0,0,0, 50]]
    S:"Trade Slot 5" <
        minecraft:emerald,0,8,12, minecraft:iron_pickaxe,0,1,1, 25
        minecraft:emerald,0,6,9, minecraft:iron_shovel,0,1,1, 25
        minecraft:air,0,0,0, minecraft:air,0,0,0, 50
     >

    #  [default: [minecraft:emerald,0,6,9, quark:archaeologist_hat,5,1,1, 100]]
    S:"Trade Slot 6" <
        minecraft:emerald,0,6,9, quark:archaeologist_hat,5,1,1, 100
     >

    # Should the Archaeologist's trades be tweaked at all? [default: true]
    B:"replace archaeologist trades"=true
}


