# Configuration file

general {
    # Config Versions help inform modpack makers/config users if changes have been made to the config between updates. These differ from main versioning, since the config file is static.
    # Basically, you compare the current default of this value, to the default of when you generated it.
    # 
    # The versioning follows:
    # 0.0.x - Default values have been slightly adjusted.
    # 0.x.0 - Config options have been added.
    # x.0.0 - Previous Config Options have been completely overhauled and/or removed. Creating a fresh file is recommended.
    S:configVersion=1.0.0

    # Injects Mining Forks into the Abandoned Mineshaft Loot Table.
    # Formatted as "[Item]-[Chance]-[Min Durability]-[Max Durability]"
    # 
    # [Item] - The ID of the item (appended with '_lapis_rune').
    # [Chance] - The chance for the item to be placed in the container. Defaults to 1.0.
    # [Min Durability] - The minimum Durability the for will have when generated. Defaults to 1.0.
    # [Max Durability] - The maximum Durability the for will have when generated. Defaults to 1.0.
    S:mineshaftLootInjection <
     >

    # The depth (in blocks) that Mining Forks will check.
    I:miningForkDepthCheck=10

    # The radius (in blocks) that Mining Forks will check.
    I:miningForkRadiusCheck=1

    # Registers Mining Forks. Formatted as "[name]-[durability]-[blockID:meta];[blockID:meta]..."
    S:miningForkTypes <
        amethyst-131-contenttweaker:amethystblock;contenttweaker:amethystblock1;contenttweaker:amethystblock2;contenttweaker:amethystblock3contenttweaker:amethystore
        aquamarine-131-contenttweaker:aquamarineblock;contenttweaker:aquamarineblock1;contenttweaker:aquamarineblock2;contenttweaker:aquamarineblock3contenttweaker:aquamarineore
        bismuth-33-contenttweaker:bismuthblock;contenttweaker:bismuthblock1;contenttweaker:bismuthblock2;contenttweaker:bismuthore
        blackdiamond-1561-contenttweaker:blackdiamondblock;contenttweaker:blackdiamondblock1;contenttweaker:blackdiamondblock2;contenttweaker:blackdiamondblock3contenttweaker:blackdiamondore
        chocolatediamond-1561-contenttweaker:chocolatediamondblock;contenttweaker:chocolatediamondblock1;contenttweaker:chocolatediamondblock2;contenttweaker:chocolatediamondblock3contenttweaker:chocolatediamondore
        citrine-131-contenttweaker:citrineblock;contenttweaker:citrineblock1;contenttweaker:citrineblock2;contenttweaker:citrineblock3contenttweaker:citrineore
        copper-261-deeperdepths:copper_ore;deeperdepths:copper_block:*;deeperdepths:chiseled_copper:*;deeperdepths:cut_copper:*
        diamond-1561-minecraft:diamond_ore;minecraft:diamond_block
        electrum-60-contenttweaker:electrumblock;contenttweaker:electrumblock1;contenttweaker:electrumblock2;contenttweaker:electrumore
        emerald-131-minecraft:emerald_block;minecraft:emerald_ore;contenttweaker:martianemeraldore;contenttweaker:mercurianemeraldore;contenttweaker:obsidianemeraldore
        fluorite-131-contenttweaker:fluoriteblock;contenttweaker:fluoriteblock1;contenttweaker:fluoriteblock2;contenttweaker:fluoriteblock3contenttweaker:fluoriteore
        gold-33-minecraft:gold_ore;minecraft:gold_block
        iridium-625-contenttweaker:iridiumblock;contenttweaker:iridiumblock1;contenttweaker:iridiumblock2
        iron-250-minecraft:iron_ore;minecraft:iron_block
        lava-250-minecraft:lava
        magma-250-minecraft:magma
        meteoriron-250-contenttweaker:meteorironblock;contenttweaker:meteorironblock1;contenttweaker:meteorironblock2
        moonstone-131-contenttweaker:moonstoneblock;contenttweaker:moonstoneblock1;contenttweaker:moonstoneblock2;contenttweaker:moonstoneblock3contenttweaker:moonstoneore
        morganite-131-contenttweaker:morganiteblock;contenttweaker:morganiteblock1;contenttweaker:morganiteblock2;contenttweaker:morganiteblock3contenttweaker:morganiteore
        oil-250-contenttweaker:oil
        opal-131-contenttweaker:opalblock;contenttweaker:opalblock1;contenttweaker:opalblock2;contenttweaker:opalblock3contenttweaker:opalore
        peridot-131-contenttweaker:peridotblock;contenttweaker:peridotblock1;contenttweaker:peridotblock2;contenttweaker:peridotblock3contenttweaker:peridotore
        ruby-131-contenttweaker:rubyblock;contenttweaker:rubyblock1;contenttweaker:rubyblock2;contenttweaker:rubyblock3contenttweaker:rubyore
        sapphire-131-contenttweaker:sapphireblock;contenttweaker:sapphireblock1;contenttweaker:sapphireblock2;contenttweaker:sapphireblock3contenttweaker:sapphireore
        silver-33-contenttweaker:silverblock;contenttweaker:silverblock1;contenttweaker:silverblock2;contenttweaker:silverore
        topaz-131-contenttweaker:topazblock;contenttweaker:topazblock1;contenttweaker:topazblock2;contenttweaker:topazblock3contenttweaker:topazore
        tin-33-contenttweaker:silverblock;contenttweaker:silverblock1;contenttweaker:silverblock2;contenttweaker:silverore
        water-250-minecraft:water
        zircon-131-contenttweaker:zirconblock;contenttweaker:zirconblock1;contenttweaker:zirconblock2;contenttweaker:zirconblock3contenttweaker:zirconore
     >
}


