# Fruits

# Fruits are a food item that can be eaten to restore hunger.
# This file ignores lines that start with '#' or are blank.
# Food value and saturation value are both optional.

# The format is as follows:
# <fruit name>;<food value>;<saturation value>
# Example: apple;1;0.5

acai;5;0.9
aeaebanana
almond
americanbeautydragonfruit
applecactusfruit
apricot
asianpear
axdragonfruit
babaco
baobab
bayberry
beautyberry
bergamotorange
blackapple
blackberry
blackbuddhashand
blackcurrant
blackplum
blackrambutan
blacksapote
blacksnakefruit
bloodorange
blueberry
bluejabuticaba
bluejavabanana
boysenberry
brazilnut
breadfruit
brownpear
buttonmangosteen
cashew
cashewfruit
cempedak
cherrydogwood
chestnut
chokecherry
citron
cloudberry
coconut
coralberry
cottoncandydragonfruit
crabapple
date
dessertavocado
durian
elderberry
elgrullodragonfruit
engkala
fig
gacfruit
gardencress
giantpassionfruit
ginkgo
gojiberry
goldenberry
goldenraspberry
gooseberry
grapefruit
greenapple
greencustardapple
greenfingerlime
greenguava
greenlime
greenorange
greenpear
greenplum
greensoursop
hackberry
halafruit
hassavocado
hawthorn
hazelnut
hickorynut
honeyberry
honeytangerine
huamoabanana
huckleberry
icecreambeanfruit
ivorypalmfruit
jackfruit
jellypalmfruit
jentikfruit
jocotefruit
jujube
juneberry
juniperberry
khofruit
kolanut
kumquat
langsat
limaususu
longan
longneckavocado
loquat
lucumafruit
lychee
macadamianut
mameysapote
mango
maprangfruit
marangfruit
mexicolaavocado
monkeypodfruit
nance
nectarine
nonifruit
orange
orangebuddhashand
orangepear
orangesoursop
orangetamarillo
papeda
paradisenut
passionfruit
pawpaw
peanutbutterfruit
pecan
persimmon
pilinut
pineappleguava
pinkapple
pinklemon
pinkmelocactus
pistachio
plantain
pomegranate
pomelo
ponderosalemon
pricklypear
purpleapple
purplebuddhashand
purplecustardapple
purpleguava
purplejabuticaba
purplemangosteen
purpleplum
purpletamarillo
quince
raspberry
redavocado
redbanana
redbuddhashand
redcherry
redcurrant
redcustardapple
reddragonfruit
redfingerlime
redguava
redlemon
redlime
redmangosteen
redmelocactus
redpear
redrambutan
redraspberry
redsnakefruit
redsoursop
redstrawberry
redtamarillo
rosecactusfruit
sabrajabuticaba
safoufruit
salmonberry
santolfruit
satsuma
seabuckthorn
sloe
snowberry
starfruit
sugarapple
sumac
suranamcherry
tamarind
tangerine
tayberry
torchcactusfruit
treestrawberry
triciadragonfruit
walnut
washingtoncherry
wheelcactusfruit
whiteapple
whitedragonfruit
whitejabuticaba
whitemelocactus
whitepeach
whiteraspberry
whitesapote
whitestrawberry
wildavocado
wildmangosteen
wildpear
woodapple
xoconostle
yellowapple
yellowbuddhashand
yellowcustardapple
yellowdragonfruit
yellowjabuticaba
yellowlemon
yellowmangosteen
yellowpeach
yellowpear
yellowrambutan
yellowsapote
yellowsoursop
yellowtamarillo
