#-------------------------------------------------------------------#
# Cherry Configuration file
#-------------------------------------------------------------------#
# After modification, you need to restart the game to take effect.
#-------------------------------------------------------------------#

Cherry {
    D:configVersion=23

#--- pink_petals

    # cherry_sapling Generate pink_petals
    B:cherrySaplingAndPetals=false

    # Remove placement restrictions for pink petals (can be placed on any full block) -Default: "false" -Default: "false"
    B:petalsUnlimitedPlace=false

#--- Cherry Particles

    # cherry Particle Chance (lower value = more particles, 0 = disabled) -Default: "10"
    D:cherryParticleChance=10

#--- Generations are turned off, any sapling and pink dye can be used to craft cherry saplings.
#--- cherry_grove Biome

    # Generate cherry_grove biome -Default: "true"
    B:spawnCherryBiome=false

    # cherry_grove biome weight -Default: "6" -Max: "128" -Warning: "Only works for NEW worlds, editing existing worlds will cause terrain cracks"
    D:cherryBiomeSize=6

    # cherry_grove biome base height -Default: "2.0" -Max: "1"
    D:cherryBiomeBaseHeight=2.0

    # cherry_grove biome Height Variatio -Default: "0.48" -Max: "1"
    D:cherryBiomeHeightVariation=0.48

    # cherry_grove biome spawns bamboo -Default: "true"
    B:cherryBiomeSpawnBamboo=false

    # Bamboo priority (prioritize existing mods; mods with same priority will coexist)
    Bamboo {
        D:futuremc=2
        D:biomesoplenty=1
        D:sakura=0
    }

#--- Beehives

    # Cherry saplings grow with beehives -Default: "true"
    B:saplingSpawnBee=false

    # Cherry trees grow with beehives -Default: "true"
    B:spawnTreeSpawnBee=false

#--- Structure

    # Gen Desert Well  -Default: "true"
    B:genDesertWell=false

    # Gen Desert Pyramid -Default: "true"
    B:genDesertPyramid=false

    # Gen Ocean Ruins -Default: "true"
    B:genOceanRuins=false

    # Gen Trail Ruins -Default: "true"
    B:genTrailRuins=false

#--- Block

    # strip -Default: "true"
    B:stripLog=false

    # chiseled Bookshelf need Silk Touch -Default: "false"
    B:chiseledBookShelfNeedSilkTouch=false

    # Kindle Block -Default: "false"
    B:blockFire=false

#--- Boat with Chest

    # Add Boat with Chest -Default: "true"
    B:addBoatChest=false
}