# Configuration file

general {
    # Appends prior mixin exceptions to crash reports to help diagnose crashes
    B:"Append General Mixin Exceptions To Crash Reports"=true

    # Mixin config json files to forcibly remove from FermiumBooter enqueue
    S:"Forced Early Mixin Config Removals" <
     >

    # Disables config based mixin compatibility checks
    # Warning: this may cause undefined behavior in mods, you should not enable this if not absolutely required
    # Do not report issues to any mods if you have this enabled unless you want to be laughed at
    B:"Override Mixin Config Compatibility Checks"=false

    # Prevents the mixin compatibility warning text from rendering on screen
    # Errors and warnings will still be printed to the log
    B:"Suppress Mixin Compatibility Warnings Render"=true

    ##########################################################################################################
    # jar scanner manual overrides
    #--------------------------------------------------------------------------------------------------------#
    # Used to detect mods that don't use @Mod or mcmod.info to define their modid
    # If the jar scanner finds the given package, it will set the respective modid as being present. 
    # It is not possible to filter for version or modname when using this system
    # Pattern: S:path.of.package=modid
    ##########################################################################################################

    "jar scanner manual overrides" {
        S:gg.essential=essential
        S:git.jbredwards.jsonpaintings=jsonpaintings
        S:net.optifine=optifine
    }

}


