# Configuration file

general {
    # Can Leather be used to repair elytras? (Default 1.12 behaviour) [default: false]
    B:leatherRepairsElytra=false

    # Can Phantom Membrane be used to repair elytras? (Default 1.13+ behaviour) [default: true]
    B:membraneRepairsElytra=true
}


phantom {
    # Armor
    D:armor=0.0

    # Armor Toughness
    D:armorToughness=0.0

    # Attack Damage
    D:attackDamage=2.0

    # How much extra damage do Phantoms do per size?
    I:attackDamageSizeIncrease=1

    # Flying Speed
    D:flyingSpeed=0.4

    # Follow Range
    D:followRange=16.0

    # Knockback Resistance
    D:knockbackResistance=0.0

    # Max Health
    D:maxHealth=20.0

    # How much extra health do Phantoms have per size?
    I:maxHealthSizeIncrease=2

    # Maximum size of Phantoms [range: 0 ~ 64, default: 7]
    I:maxSize=7

    # Minimum size of Phantoms [range: 0 ~ 64, default: 0]
    I:minSize=0

    # Movement Speed
    D:movementSpeed=0.7

    # The average height above the ground or target Phantoms spawn and perform their circling ai at. [range: -2147483648 ~ 2147483647, default: 30]
    I:phantomCircleHeight=30

    # Which entities repel phantoms?
    S:phantomRepellentEntities <
        minecraft:ocelot
     >

    # Do phantoms burn in sunlight? [default: true]
    B:phantomsBurn=true

    # Chance for Phantoms to spawn increased a size. [range: 0.0 ~ 1.0, default: 0.5]
    S:sizeIncreaseChance=0.5

    # How much XP do Phantoms drop? [range: -2147483648 ~ 2147483647, default: 5]
    I:xpDrop=5

    # How much does the XP Phantoms drop increase by with size? [range: -2.1474836E9 ~ 2.1474836E9, default: 2.0]
    S:xpPerSize=2.0
}


spawning {
    # Maximum number of random Phantoms to be added to each group per game difficulty level (Rounded Down). [range: 0.0 ~ 255.0, default: 1.0]
    S:extraSpawnsPerDifficulty=1.0

    # Change the sleeplessTicks option to instead only attempt spawn Phantoms before the specified number of ticks. (For example you could use them as a punishment if people sleep multiple days in a row by setting sleeplessTicks to 24000 (A full day).) [default: false]
    B:invertSleeplessTicks=false

    # Minimum number of Phantoms to spawn per group. [range: 0 ~ 255, default: 1]
    I:minSpawns=1

    # Do Phantoms Spawn? [default: true]
    B:phantomsSpawn=true

    # How many ticks since a players last sleep before Phantoms start attempting to spawn? (Default is 72000 or 3 minecraft days [range: 0 ~ 2147483647, default: 72000]
    I:sleeplessTicks=72000

    # Biomes phantoms can't spawn in (Can specify either biomes names or Biome Dictionaries e.g. minecraft:plains, FOREST)?
    S:spawnBiomesBlacklist <
     >

    # Invert spawnBiomesBlacklist so that Phantoms can only spawn in the specified biome. [default: false]
    B:spawnBiomesWhitelist=false

    # How often in ticks do Phantoms attempt to spawn? (Default is 1200 or once a minute [range: 0 ~ 2147483647, default: 1200]
    I:spawnDelay=1200

    # How much random variation in ticks can be added to spawnDelay? (Default is 1200 or up to a minute [range: 0 ~ 2147483647, default: 1200]
    I:spawnDelayVariation=1200

    # Dimensions Phantoms can spawn in.
    I:spawnDimensions <
        0
     >

    # What is the maximum skylight Phantoms can spawn in? (Default is 7) [range: 0 ~ 2147483647, default: 7]
    I:spawnLight=7

    # How many Phantoms can be spawned in the world at once? [range: 0 ~ 2147483647, default: 5]
    I:spawnMax=5
}


