# Configuration file

general {

    ##########################################################################################################
    # first setup
    #--------------------------------------------------------------------------------------------------------#
    # If you're a modpack dev just starting to set up this mod, you probably want to start here.
    ##########################################################################################################

    "first setup" {
        # Which brewing direction should be printed into inferred potion types.
        #  FROM: writes which other potiontypes + reagents can create this potion type
        #  TO: writes which other potiontypes this one can be brewed to, using which reagents
        # Valid values:
        # FROM
        # TO
        # BOTH
        # NONE
        S:"Brewing Recipe Direction"=FROM

        # Which time scale to use for durations in inferred potion type infos (MIN as float)
        # Valid values:
        # TICK
        # SEC
        # MIN
        S:"Duration Time Scale"=MIN

        # Whether to follow vanillas weird convention of using amplifiers (=lvl-1) instead of levels in inferred potion type infos
        B:"Levels as Amplifiers"=false

        # !Disables itself after a one time use!
        # 
        # If enabled, during startup this mod will infer info about all registered potions and print them out in /config/potioncontrol/potions/inferred-inactive/.
        # The created json files can be used as blueprints from which to work off of.
        # To do so, copy everything to /config/potioncontrol/potions/active/, then delete every file + line in file that should stay default/untouched.
        # WARNING: All files in /inferred-inactive/ will be overwritten every time you start the game with this option enabled
        B:"Print Inferred Potion Infos"=false

        # !Disables itself after a one time use!
        # 
        # If enabled, during startup this mod will infer info about all registered potion types and print them out in /config/potioncontrol/potiontypes/inferred-inactive/.
        # The created json files can be used as blueprints from which to work off of.
        # To do so, copy everything to /config/potioncontrol/potiontypes/active/, then delete every file + line in file that should stay default/untouched.
        # WARNING: All files in /inferred-inactive/ will be overwritten every time you start the game with this option enabled
        B:"Print Inferred Potion Type Infos"=false

        # Property jsons for potion types found in /config/potioncontrol/potiontypes/active/... that are unknown in game will be created and filled with the given properties.
        B:"Should create unknown Potion Types"=true

        # Property jsons for potions found in /config/potioncontrol/potions/active/... that are unknown in game will be created and filled with the given properties.
        B:"Should create unknown Potions"=true
    }

    ##########################################################################################################
    # blacklists
    #--------------------------------------------------------------------------------------------------------#
    # Option to blacklist potions to appear from various sources (or entirely)
    ##########################################################################################################

    blacklists {
        # Potions in this list will be prevented from being registered in the game. There will be no way to access them at all.
        S:"Registered Potion Blacklist" <
            cyclicmagic:slowfall
            cyclicmagic:bounce
            cyclicmagic:butter
            cyclicmagic:ender
            cyclicmagic:frostwalker
            cyclicmagic:magnet
            cyclicmagic:saturation
            cyclicmagic:snow
            cyclicmagic:stunned
            cyclicmagic:waterwalk
            biomesoplenty:curse
            mowziesmobs:frozen
            mowziesmobs:geomancy
            mowziesmobs:poison_resist
            mowziesmobs:suns_blessing
            switchbow:freeze
            switchbow:love
         >

        # Potion Types in this list will be prevented from being registered in the game. There will be no way to access them at all.
        S:"Registered Potion Types Blacklist" <
         >
    }

    ##########################################################################################################
    # mixin toggles
    #--------------------------------------------------------------------------------------------------------#
    # Various toggleable options
    ##########################################################################################################

    "mixin toggles" {
        # Allows to modify whether potions will prioritise high amplifiers (default) or high durations when combining two of the same potions effects
        # Use key "prioritisesDuration": true in the jsons to set longer effects of this potion to be prefered over stronger effects.
        B:"Allow Prioritise Duration (Vanilla)"=true

        # Allows to modify which potions or potion types get registered via "Registered Potion/Type Blacklist" configs
        B:"Allow Unregister Potions (Vanilla)"=true

        # Due to an oversight instead of planned 255 the real max potion amplifier is 127.
        # Higher amplifiers are possible, but will be saved and recognised on clientside as negative values.
        # This fixes it by allowing amplifiers a range between -32768 and +32767
        B:"Fix Amplifier Cap (Vanilla)"=true

        # Writes only the actually missing descriptions in log instead of all of them if its "Log missing descriptions" config is enabled
        B:"Fix Missing Desc Log (PotionDescriptions)"=true

        # Displays Potion Levels outside of the range 1-3 in inventory (1-10 as roman numerals)
        B:"Fix Potion Level Display (Vanilla)"=true

        # Allows to modify which effects are available on each of the levels (1-4) of the beacon.
        # Modify by using key "beaconLevels":[] in the jsons
        # Note: more than 3 entries per level starts looking weird
        B:"Modify Beacon Effects (Vanilla)"=true

        # Allows to modify brew times of brewing recipes either globally via config or by recipe via potion type jsons.
        # Requires "Modify Brewing Recipes"
        B:"Modify Brew Time (Vanilla)"=true

        # Allows to modify brewing recipes via potion type jsons
        # If enabled, potion types that have the brews_from or brews_to set will have vanilla-style recipes in that direction replaced by the given ones
        # Modded recipes are left untouched, only the ones added by the PotionHelper.addMix / CT IPotionRecipe.add method are modified
        # Added recipes can also be modded with the input or the output item being any itemstack (including metadata, tags and potion type)
        # Use "to"/"from": {"item", "meta", "tag", "type"}
        # Recipes with a non bottle item in input will apply the output type on the input item as output
        # Recipes with a non bottle item in output will add recipes for all 3 bottle shapes to turn into the given output
        B:"Modify Brewing Recipes (Vanilla)"=true

        # Allows to set a maximum for specific potions level or duration via their jsons. Use keys "maxLevel" and "maxDuration"
        B:"Modify Max Potion Duration & Level (Vanilla)"=true

        # Allows to modify tipped arrow potion durations (in ticks) via potion type jsons (key: tipped_arrow_duration)
        B:"Modify Tipped Arrow Time (Vanilla)"=true

        # Makes potion effects properly display their levels above 4 and below 1 in Dynamic Surroundings HUDs potion effect overlay
        B:"Potion Level Display (DSHuds)"=true
    }

    ##########################################################################################################
    # debug
    #--------------------------------------------------------------------------------------------------------#
    # Debug Options
    ##########################################################################################################

    debug {
        # Potion classes that should not be modified at all by this mod. 
        # Use this if there are crashes when this mod tries to automatically modify some mods enchantments. 
        # You can find the class name in config/potioncontrol/tmp/enchclasses.dump
        # Class names noted here need to look like net.minecraft.potion.PotionAttackDamage
        # Vanilla enchants will always be targeted, so putting their classes in here won't do anything
        S:"Blacklisted Potion Classes" <
         >

        # If enabled, writes all currently loaded potion and potion type infos to /config/potioncontrol/potion[type]s/loaded/ during startup. Can be used to check if a given config json is actually loaded (and loaded correctly).
        B:"Print Loaded Potion+Type Infos"=false
    }

    ##########################################################################################################
    # brewing stand
    #--------------------------------------------------------------------------------------------------------#
    # Brewing Stand Options
    ##########################################################################################################

    "brewing stand" {
        # Multiply the brewing duration of all brewing actions in the vanilla brewing stand by this amount.
        # Smaller than 1: Brews faster
        # Bigger than 1: Brews slower
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Global Brew Time Multiplier"=1.0
    }

}


