# Configuration file

general {

    instance {
    }

    "client settings" {

        "hud settings" {
            B:"Enable the HUD"=false

            # Colour of the background behind the HUD (#RRGGBBAA)
            S:"HUD Background Colour"=#7F7F7F7F

            # Coordinates for the top-left of the HUD (x,y)
            S:"HUD Position"=0,0

            # Text displayed in the HUD
            # Available formats:
            # - Server-wide: {tps}, {mspt}, {tick}, {ram_used}, {ram_max}, {cpu_usage}, {ping}
            # - Current dimension: {dim_id}, {dim_tps}, {dim_mspt}, {dim_entity_count}, {dim_tile_entity_count}, {dim_chunk_count}
            # - Current chunk: {ch_entity_count}, {ch_tile_entity_count}
            S:"HUD Text" <
                TPS {tps}, {mspt} ms
                E {dim_entity_count} TE {dim_tile_entity_count} Ch {dim_chunk_count}
                RAM {ram_used} / {ram_max} GB; CPU {cpu_usage}%
             >

            # Colour of the text (#RRGGBBAA)
            S:"HUD Text Colour"=#F0F0F0FF

            # Refresh the data that gets shown on the client every x (ms)
            # Min: 100
            # Max: 5000
            I:"Refresh Interval"=500

            # If enabled, the HUD is only shown when the F3 menu is open, if disabled, the HUD is hidden when the F3 menu is open
            # If you choose to enable this, I'd recommend changing the default HUD position to not interfere with the F3 menu
            B:"Show HUD with F3"=false
        }

        "gamemode switcher settings" {
            B:"Change the keybind in the Controls screen instead of the default F3+F4"=true
            B:"Enable the Gamemode Switcher from 1.16+"=true
        }

    }

    "server settings" {

        "hud settings" {
            # Allows the usage of the HUD for clients
            B:"Enable the HUD"=true

            # Formats allowed to use, separated by commas (,)
            # Possible formats:
            # - Server-wide: tps, mspt, tick, ram_used, ram_max, cpu_usage, ping
            # - Current dimension: dim_id, dim_tps, dim_mspt, dim_entity_count, dim_tile_entity_count, dim_chunk_count
            # - Current chunk: ch_entity_count, ch_tile_entity_count
            S:"Enabled formats"=tps,mspt,tick,ram_used,ram_max,cpu_usage,ping,dim_id,dim_tps,dim_mspt,dim_chunk_count,ch_entity_count,ch_tile_entity_count

            # Make operators bypass the enabled formats
            B:"Operators bypass enabled formats"=true
        }

        "command settings" {
            B:"Enable the /rozutils command"=true

            # Only allow usage of the /rozutils command for operators, highly recommended.
            B:"Require operator permissions"=true
        }

    }

}


