# Configuration file

general {
    B:"Draw Horse Stats"=true

    # MixinToggle. This makes horses stop rearing normally when players dismount. Without this fix they will keep rearing until they are mounted again.
    B:"Fix Rearing"=true

    enchantments {
        # MixinToggle. If horses wear horseshoes with any depth strider lvl, riders won't get dismounted under water.
        B:"Depth Strider no dismount"=true

        # MixinToggle. Disabling this will disable most enchantments from working on horses.
        # Most enchantments check for their own presence by checking the entities equipment slots.
        # A horse by default doesn't have any equipment slots, so checking its equipment for enchantments will always fail.
        # This mixin lists worn horse armor as being in HEAD and CHEST slot while listing worn horseshoes as being in FEET slot.
        # This also allows protection enchants to work.
        # Since horse armor is worn in both HEAD and CHEST, protection on armor will be twice as effective.
        # On the other hand, horse legs will never be protected.
        B:"Enable Equipment Slots"=true

        # MixinToggle. Fires LivingJumpEvent when horses jump to be compatible with various jumping enchantments and effects. 
        # If present, includes a fix for PotionCore jump height attribute impeding the horse jump height for no reason
        B:"Fire Living Jump"=true

        # By default, horse armor can get any helmet and chestplate enchants. Blacklist enchants here that horse armor should not be able to get.
        S:"Horse Armor Enchant Blacklist" <
         >

        # Set to false to have horse armor never be enchantable
        B:"Horse Armor Enchantable"=true

        # By default, horseshoes can get any boot enchants. Blacklist enchants here that horseshoes should not be able to get.
        S:"Horseshoes Enchant Blacklist" <
         >

        # Set to false to have horseshoes never be enchantable
        B:"Horseshoes Enchantable"=true

        trampling {
            # Will be 1.5x this amount when horse is rearing.
            D:"Damage per lvl"=1.0
            B:Enabled=true

            # In order: min, lvlspan, range
            # Enchantability is a range from 
            #  min + (lvl-1) * lvlspan 
            #  to that value plus range
            # Defines on what shown lvls of the enchantment table an enchant with a specific lvl can be gotten
            I:Enchantability <
                5
                20
                50
             >
            S:"Incompatible enchantments" <
             >

            # Will be 0.5x this amount when horse is rearing.
            D:"Knockback per lvl"=1.0

            # Min: 1
            # Max: 10
            I:"Max Lvl"=3

            # Valid values:
            # COMMON
            # UNCOMMON
            # RARE
            # VERY_RARE
            S:Rarity=VERY_RARE
        }

    }

    acquisition {
        # Trades defined per horseshoe. Each line consists of
        # itemid, minPrice, maxPrice, weight, minEnch, maxEnch
        # Where the price is in emeralds and the weight defines how often this specific trade is chosen. Each leatherworker only has one horseshoe trade
        # Optional: minEnch/maxEnch to enchant the horseshoes with a random enchantment table level in the given range
        S:"Leatherworker Horseshoe trades" <
            horseshoes_diamond, 8, 10, 1
            horseshoes_gold, 8, 10, 1
            horseshoes_iron, 8, 10, 1
         >

        # Global toggle for Horseshoe trade at Leatherworker Villager
        B:"Leatherworker sells Horseshoes"=false

        # Chance to encounter an untamed horse wearing random horseshoes on any village well
        D:"Well Encounter Chance"=0.30000001192092896

        # MixinToggle. This enables the random well encounter of a horse with horseshoes.
        B:"Well Encounter Enabled"=true

        # All registered horseshoes have equal likelihood of being chosen for horses that generate on village wells. Disable specific horseshoe items by naming their itemids here.
        S:"Well encounter blacklisted Horseshoes" <
         >
    }

    "horse armor" {
        # MixinToggle. This allows Zombie and Skeleton Horses as well as Donkeys and Mules to use armor.
        B:"All Horse Types use Armor"=true

        # Stats per armor item. Pattern: itemName, armorMod, toughnessMod
        # By default uses operation0 (ADD), use @operationNumber (0/1/2) to change
        # Horse Armor that isn't mentioned here will use its vanilla handling instead
        # Requires MixinToggle "Register Horse Armor Item"
        S:"Armor Stats" <
            iron_horse_armor, 5, 0
            diamond_horse_armor, 11, 0
            golden_horse_armor, 7, 0
         >

        # Add or remove additional mobs that are allowed to use horse armor.
        # Note: This won't work for modded mobs that aren't inheriting AbstractHorse in their code, and will most probably not work fully for those that do.
        # Note: This doesn't work for Llamas.
        S:"Horses that can use Armor" <
            minecraft:donkey
            minecraft:mule
            minecraft:skeleton_horse
            minecraft:zombie_horse
         >

        # MixinToggle. This will register horse armor as a separate class extending ItemArmor with customisable enchants and stats with tooltip display. 
        # Set this to false if you don't use any horse armor features of this mod.
        B:"Register Horse Armor Item"=true

        # MixinToggle. This disables the janky vanilla handling of Horse Armor rendering.
        # Instead gives Horse Armor its own render layer, which can also render with enchanted glint.
        # This is also needed to render Horse Armor on Zombie and Skeleton Horses.
        B:"Render Custom Horse Armor Layer"=true

        # MixinToggle. Adds a render layer for saddles to (Zombie/Skeleton/Normal) Horses, Donkeys and Mules.
        # This allows enchanted saddles to render with enchanted glint.
        B:"Render Saddle Layer"=true
    }

    horseshoes {
        # Add horseshoes items here. Pattern: itemName, armorMaterialName
        # If no armor material is provided, a default armor material is used. Horseshoes don't use armor material directly but other vanilla+modded mechanics do (example: enchanting uses material enchantability)
        # Note: vanilla armor materials are written in all caps, like LEATHER and CHAIN, modded ones can be written in various ways.
        # Location of the item texture json has to be wornhorseshoes:textures/models/item/itemName.json
        # Location of the model texture has to be wornhorseshoes:textures/entity/horseshoes/itemName.png
        S:"Additional Horseshoes" <
         >

        # MixinToggle. Main toggle for Horseshoes. Disable this if you use this mod for its other features.
        B:"Enable Horseshoes"=true

        # Stats per horseshoe item. Pattern: itemName, speedMod, jumpBoostMod
        # By default uses operation2 (MULT_TOTAL), use @operationNumber (0/1/2) to change
        S:"Horseshoe Stats" <
            horseshoes_iron, 0.3, 0.3
            horseshoes_diamond, 0.2, 0.5
            horseshoes_gold, 0.5, 0.2
         >

        # Add or remove mobs that are allowed to get horseshoes. 
        # Note: This won't work for modded mobs that aren't inheriting AbstractHorse in their code, and will most probably not work fully for those that do.
        S:"Mobs that can get horseshoes" <
            minecraft:horse
            minecraft:donkey
            minecraft:mule
            minecraft:skeleton_horse
            minecraft:zombie_horse
            minecraft:llama
         >

        # MixinToggle. Adds a render layer for horseshoes to (Zombie/Skeleton/Normal) Horses, Donkeys, Mules and Llamas.
        B:"Render Horseshoes Layer"=true
    }

    "undead horses" {
        # MixinToggle. This allows Skeleton Horses created from Skeleton Horse Traps to wear horse armor and horseshoes randomly.
        B:"Armored Skeleton Horse Traps"=true

        # Enchanted equipment on undead horses allows treasure enchantments.
        B:"Equip Enchant - Allow Treasure"=false

        # Max chance to enchant equipment on undead horses.
        # Just like for vanilla mobs this scales with the local difficulty.
        D:"Equip Enchant - Max Chance"=0.5

        # Max Enchantment Level of enchanted equipment on undead horses.
        # Just like for vanilla mobs this scales with the local difficulty.
        I:"Equip Enchant - Max Lvl"=23

        # Min Enchantment Level of enchanted equipment on undead horses.
        I:"Equip Enchant - Min Lvl"=5

        # Max chance to equip an undead horse with shoes and/or armor on spawn.
        # Just like vanilla mob equipment chance this scales with the local difficulty.
        # So the max chance is only reached when the chunk was previously loaded for a long time.
        D:"Max Equip Chance"=0.15000000596046448

        # Disabling this will make undead horses burn in the sun no matter if they wear armor or not.
        B:"Undead Horses Burn - Armor Protects"=true

        # Baby zombies don't burn in the sun. Set this to true to let undead baby horses burn in the sun anyway.
        B:"Undead Horses Burn - Babies"=true

        # This allows to select whether only one of the two undead horse types should burn in sunlight. To fully disable this feature, use the MixinToggle "Undead Horses Burn in Sun"
        # Valid values:
        # ZOMBIE
        # SKELETON
        # BOTH
        S:"Undead Horses Burn - Types"=BOTH

        # MixinToggle. This enables undead horses to burn in sunlight unless they wear armor.
        B:"Undead Horses Burn in Sun"=true

        # MixinToggle. This enables zombie horses that spawn ridden by zombies to automatically despawn.
        B:"Zombie Horses Despawn"=true

        # Chance for a zombie to spawn riding on a zombie horse.
        D:"Zombie Rider Chance"=0.009999999776482582

        # MixinToggle. This enables zombies to randomly spawn riding on potentially armored zombie horses if they spawn on the surface.
        B:"Zombie Rider Enabled"=true
    }

    "horse stats" {
        # MixinToggle. This makes the horses speed+jump height draw in horse GUI.
        B:"Draw Horse Stats"=true

        # MixinToggle. This draws the horses speed+jump height in the horses Neat HP bar.
        B:"Draw Horse Stats (Neat)"=true

        # MixinToggle. Allows to modify both spawn and breeding stat (speed+jump height+maxhp) variation using the given configs here
        # For starting attributes, vanilla makes them either fixed to always the same value (base),
        #  or picks randomly in a range with a bell shaped distribution (base + range * (rand+rand+rand)/3)
        # Note: for MaxHP this technically modifies the vanilla behavior minimally. In vanilla it uses smth equivalent to a triangular distribution: base + range * (rand+rand)/2, rounding to nearest integer
        B:"Modify Stats"=false

        "spawn speed base" {
            D:"minecraft:donkey"=7.554749999999999
            D:"minecraft:horse"=4.856625
            D:"minecraft:llama"=7.554749999999999
            D:"minecraft:mule"=7.554749999999999
            D:"minecraft:skeleton_horse"=8.634
            D:"minecraft:zombie_horse"=8.634
        }

        "spawn speed range" {
            D:"minecraft:donkey"=0.0
            D:"minecraft:horse"=9.71325
            D:"minecraft:llama"=0.0
            D:"minecraft:mule"=0.0
            D:"minecraft:skeleton_horse"=0.0
            D:"minecraft:zombie_horse"=0.0
        }

        "spawn jump height base" {
            D:"minecraft:donkey"=0.5
            D:"minecraft:horse"=0.4
            D:"minecraft:llama"=0.5
            D:"minecraft:mule"=0.5
            D:"minecraft:skeleton_horse"=0.4
            D:"minecraft:zombie_horse"=0.4
        }

        "spawn jump height range" {
            D:"minecraft:donkey"=0.0
            D:"minecraft:horse"=0.6
            D:"minecraft:llama"=0.0
            D:"minecraft:mule"=0.0
            D:"minecraft:skeleton_horse"=0.6
            D:"minecraft:zombie_horse"=0.6
        }

        "spawn max hp base" {
            D:"minecraft:donkey"=15.0
            D:"minecraft:horse"=15.0
            D:"minecraft:llama"=15.0
            D:"minecraft:mule"=15.0
            D:"minecraft:skeleton_horse"=15.0
            D:"minecraft:zombie_horse"=15.0
        }

        "spawn max hp range" {
            D:"minecraft:donkey"=15.0
            D:"minecraft:horse"=15.0
            D:"minecraft:llama"=15.0
            D:"minecraft:mule"=15.0
            D:"minecraft:skeleton_horse"=0.0
            D:"minecraft:zombie_horse"=0.0
        }

    }

}


